<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusantium aliquam beatae blanditiis doloremque est eum
    expedita fugit harum id incidunt, ipsum libero molestiae nihil quam quos
    ratione sed suscipit veritatis?</p>

<ul>
    <% for(var i = 0;i < users.length;i++){ %>
    <li>
        <%= users[i] %>
    </li>
    <% } %>
</ul>

</body>
</html>