<!doctype html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<body>
<div class="container">

    <% include partials/page/header.ejs %>

    <h2><%= title %></h2>
    <hr>
    <%
    if(typeof users == undefined){
    %>
    <ul>
        <% for(var i = 0;i < users.length;i++){ %>
        <li>
            <%= users[i] %>
        </li>
        <% } %>
    </ul>

    <% } %>

    <% include partials/page/footer.ejs %>
</div><!--end of div container-->

<% include partials/page/js.ejs %>

</body>
</html>